#pinboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.picContainer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 13px;
  width: fit-content;
  flex: 0;
}

.image {
  width: 25vw;
  height: 20vw;
  border-radius: 10px;
}
